<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}KayTrack{% endblock %}</title>
</head>
<body>
    
<header>
  <nav class="navbar">
    <label for="toggle-sidebar" class="toggle-btn open-btn">
      &#9776; <!-- Ícone três barras -->
    </label>

    <div class="logo logo-nav">
      <img src="{{ url_for('static', filename='img/logokay.svg') }}" alt="Logo KayTrack" />
      <h1>KayTrack</h1>
    </div>

    <ul class="nav-links">
        <li><a href="/" id="idhome">Home</a></li>
        <li><a href="/rankings" id="idrankings">Rankings</a></li>
        <li><a href="/graficos" id="idgraficos">Gráficos</a></li>
        <li><a href="/artigos" id="idartigos">Artigos</a></li>
        <li><a href="/pesquisa" id="idpesquisa">Pesquisa</a></li>
    </ul>
  </nav>
<nav>
  <ul class="nav-mobile">
    <li><a href="/" id="idhome">Home</a></li>
    <li><a href="/rankings" id="idrankings">Rankings</a></li>
    <li><a href="/graficos" id="idgraficos">Gráficos</a></li>
    <li><a href="/artigos" id="idartigos">Artigos</a></li>
    <li><a href="/pesquisa" id="idpesquisa">Pesquisa</a></li>
  </ul>
</nav>

</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
  <p>&copy; 2025 KayTrack. Todos os direitos reservados.</p>
  <p>Este site não pertence a nenhuma entidade governamental.</p>
</footer> 

</body>
</html>
